body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background: #00537a;
  color: white;
  padding: 2em;
  text-align: center;
}


footer {
  text-align: center;
  padding: 1em;
  background: #eee;
  
  margin-top: 2em;
}
section {
  padding: 2em;
  max-width: 900px;
  margin: 2em auto 0 auto;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  border-radius: 8px;
}


#viewer3dmol {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: 1px solid #161616;
  margin: auto;
}

